---
import Root from "../layouts/Root.astro";
import MemoryAct from "../components/MemoryAct.astro";
import ImageGallery from "../components/ImageGallery.astro";
import image_01 from "../img/acto-de-memoria-03-01.webp";
import image_02 from "../img/acto-de-memoria-03-02.webp";
import image_03 from "../img/acto-de-memoria-03-03.webp";
import image_04 from "../img/acto-de-memoria-03-04.webp";
import image_05 from "../img/acto-de-memoria-03-05.webp";
const images = [image_01, image_02, image_03, image_04, image_05];
---

<Root title="Acto de memoria 03">
  <slot>
    <MemoryAct
      actName="Acto de memoria en conmemoracion a las víctimas de las minas Antipersonal en Colombia."
      date="Miércoles 03  Noviembre de  2021"
    >
      <slot>
        <ol>
          <li>Performance</li>
          <li>
            Taller en el Aula Múltiple de la institución. (Cifras, lugares,
            víctimas, ONG's)
          </li>
        </ol>
      </slot>
    </MemoryAct>
    <ImageGallery images={images} />
  </slot>
</Root>
