---
import Root from "../layouts/Root.astro";
import MemoryAct from "../components/MemoryAct.astro";
import ImageGallery from "../components/ImageGallery.astro";
import image_01 from "../img/acto-de-memoria-02-01.webp";
import image_02 from "../img/acto-de-memoria-02-02.webp";
import image_03 from "../img/acto-de-memoria-02-03.webp";
import image_04 from "../img/acto-de-memoria-02-04.webp";
import image_05 from "../img/acto-de-memoria-02-05.webp";
import image_06 from "../img/acto-de-memoria-02-06.webp";
import image_07 from "../img/acto-de-memoria-02-07.webp";
const images = [
  image_01,
  image_02,
  image_03,
  image_04,
  image_05,
  image_06,
  image_07,
];
---

<Root title="Acto de memoria 02">
  <slot>
    <MemoryAct
      actName="Acto de memoria por las víctimas de desaparición Forzada en Colombia en la toma y retoma del palacio de Justicia."
      date="28 de Octubre de 2019"
    >
      <slot>
        <ol>
          <li>Performance al ingreso del colegio</li>
          <li>Taller en el aula</li>
          <li>
            Conversatorio con Pilar Navarrete, esposa de Héctor Jaime Beltrán,
            desaparecido en la Toma del Palacio de Justicia (06 Nov 1985)
          </li>
        </ol>
      </slot>
    </MemoryAct>
    <ImageGallery images={images} />
  </slot>
</Root>
