---
import Root from "../layouts/Root.astro";
import MemoryAct from "../components/MemoryAct.astro";
import ImageGallery from "../components/ImageGallery.astro";
import image_01 from "../img/acto-de-memoria-07-01.jpg";
import image_02 from "../img/acto-de-memoria-07-02.jpg";
import image_03 from "../img/acto-de-memoria-07-03.jpg";
import image_04 from "../img/acto-de-memoria-07-04.jpg";

const images = [image_01, image_02, image_03, image_04];
---

<Root title="Acto de memoria 07">
  <slot>
    <MemoryAct
      actName="Salida pedagógica al centro de Memoria y Casa la trocha"
      date="14 de junio de 2023"
    >
      <slot>
        <p>
          Con estudiantes de 1004 y 1104 de Humanidades con el proposito de
          brindar a los estudiantes una experiencia significativa y profunda
          sobre la importancia de preservar la memoria historica cómo estrategia
          para preservar, recordar y reflexionar pero sobre todo para la no
          repetición .
        </p>
      </slot>
    </MemoryAct>
    <ImageGallery images={images} />
  </slot>
</Root>
