---
import Root from "../layouts/Root.astro";
---

<Root title="Página principal">
  <slot>
    <section>
      <h1>
        Semillas de Memoria: Reivindicando la Historia desde el IEM Liceo
        Integrado De Zipaquirá
      </h1>
      <p>
        En un mundo donde la historia a menudo es narrada por los poderosos y
        donde las voces de las víctimas son silenciadas, surge una luz de
        esperanza desde el corazón del IEM Liceo Integrado De Zipaquirá. Esta
        luz se llama "Semillas de Memoria", una iniciativa valiente y necesaria
        que busca no solo recordar, sino también apropiarse de la memoria
        histórica del conflicto, y sobre todo, reivindicar a las víctimas,
        especialmente aquellas que sufrieron la desaparición forzada.
      </p>
      <h2>¿Qué son las Semillas de Memoria?</h2>
      <p>
        En el corazón de las Semillas de Memoria yace el testimonio vivo de
        aquellos que han perdido a sus seres queridos. A través de entrevistas,
        talleres y actividades de sensibilización, los estudiantes del IEM Liceo
        Integrado De Zipaquirá se sumergen en las historias de las víctimas,
        escuchando atentamente cada palabra, cada suspiro, cada recuerdo
        doloroso.
      </p>
      <p>
        Pero las Semillas de Memoria van más allá de la recopilación de
        testimonios. También son un espacio de reflexión y acción. Los
        estudiantes se involucran en actividades artísticas y culturales para
        expresar el dolor, la indignación y la esperanza que estas historias
        despiertan en ellos. Desde murales hasta obras de teatro, cada expresión
        artística es una semilla plantada en el suelo fértil de la memoria
        colectiva.
      </p>
      <h2>¿Por qué es importante esta iniciativa?</h2>
      <p>
        Las Semillas de Memoria son un recordatorio poderoso de que la memoria
        es un arma contra el olvido. En un país donde la impunidad todavía es
        una realidad para muchas víctimas, es fundamental mantener viva la
        memoria de aquellos que ya no están con nosotros. Solo así podemos
        construir un futuro donde la justicia y la reconciliación sean más que
        simples palabras en un papel.
      </p>
      <p>
        Además, las Semillas de Memoria son un testimonio del poder
        transformador de la educación. Al involucrar a los estudiantes en la
        búsqueda de la verdad y la justicia, esta iniciativa no solo está
        cambiando la forma en que se enseña la historia, sino también la forma
        en que se vive y se comprende.
      </p>
      <p>
        En resumen, las Semillas de Memoria son un rayo de esperanza en un mundo
        marcado por el sufrimiento y la injusticia. Son el resultado de un
        compromiso inquebrantable con la verdad, la justicia y la
        reconciliación. Y, sobre todo, son un recordatorio de que, incluso en
        los momentos más oscuros, siempre hay espacio para la luz.
      </p>
    </section>
    <aside>
      <article>
        <h2>Actos de memoria</h2>
        <ul>
          <li>
            <a href="/actos-de-memoria/acto-de-memoria-01"
              >Acto de memoria por las victimas de desaparición forzada</a
            >
          </li>
          <li>
            <a href="/actos-de-memoria/acto-de-memoria-02"
              >Acto de memoria por las victimas de la toma y retoma del Palacio
              De Justicia</a
            >
          </li>
          <li>
            <a href="/actos-de-memoria/acto-de-memoria-03"
              >Acto de memoria en conmemoración a las víctimas de las minas
              antipersona</a
            >
          </li>
          <li>
            <a href="/actos-de-memoria/acto-de-memoria-04"
              >Invitación para reflexionar acerca de el legado de la Comisión De
              La Verdad</a
            >
          </li>
          <li>
            <a href="/actos-de-memoria/acto-de-memoria-05"
              >Zipaz: un juego para la resolución pacífica de conflictos y
              lograr la paz.</a
            >
          </li>
          <li>
            <a href="/actos-de-memoria/acto-de-memoria-06"
              >Conversatorio con integrantes de la mesa de participación de
              víctimas de zipaquirá</a
            >
          </li>
          <li>
            <a href="/actos-de-memoria/acto-de-memoria-07"
              >Salida pedagógica al centro de memoria y casa la trocha.</a
            >
          </li>
          <li>
            <a href="/actos-de-memoria/acto-de-memoria-08"
              >Elaboración de podcast proyecto : “desarmados”
            </a>
          </li>
          <li>
            <a href="/actos-de-memoria/acto-de-memoria-09"
              >Actos de memoria en el marco de la semana por la paz</a
            >
          </li>
          <li>
            <a href="/actos-de-memoria/acto-de-memoria-10"
              >Acto de memoria en conmemoración al día nacional de la memoria y
              solidaridad con las víctimas.</a
            >
          </li>
        </ul>
      </article>
    </aside>
  </slot>
</Root>
