---
import { Image } from "astro:assets";
import logo from "../img/logo.png";
---

<header>
  <a href="/actos-de-memoria/">
    <Image src={logo} alt="logo" class="logo" />
  </a>
  <a href="actos-de-memoria">
    <p>Semillas De Memoria</p>
  </a>
</header>
<style>
  header {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  img {
    width: 3rem;
  }
</style>
