---

---

<header>
  <a href="/actos-de-memoria/">
    <img src="/actos-de-memoria/src/img/logo.png" alt="logo" class="logo" />
  </a>
  <a href="actos-de-memoria">
    <p>Semillas De Memoria</p>
  </a>
</header>
<style>
  header {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  img {
    width: 3rem;
  }
</style>
