---
const { images } = Astro.props;
---

<section class="image-gallery">
  {
    images?.map((image) => (
      <img loading="lazy" src={image.src} alt="imagen del acto de memoria" />
    ))
  }
</section>
<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media (width > 440px) {
    section {
      width: 60%;
      margin-inline: auto;
    }
    img {
      aspect-ratio: 4 / 3;
      object-fit: cover;
      object-position: top center;
    }
  }
</style>
