---
const { actName } = Astro.props;
const { date } = Astro.props;
---

<article class="description">
  <h1>{actName}</h1>
  <h2>{date}</h2>
  <h2>Descripción:</h2>
  <slot />
</article>
<style>
  article {
    margin-bottom: 2rem;
  }

  h2 {
    margin-bottom: 2rem;
  }
</style>
